---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-workloads-authbridge
  failurePolicy: Fail
  name: inject.kagenti.io
  timeoutSeconds: 10
  namespaceSelector:
  matchExpressions:
    # Exclude kube-system and other critical namespaces
    - key: kubernetes.io/metadata.name
      operator: NotIn
      values:
        - kube-system
        - kube-public
        - kube-node-lease
        - ${NAMESPACE}
    # trigger for namespaces not explicitly disabled
    - key: kagenti-enabled
      operator: NotIn
      values:
        - "false"
  rules:
  - apiGroups:
    - apps
    - batch
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - deployments
    - statefulsets
    - daemonsets
    - jobs
    - cronjobs
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-agent-kagenti-dev-v1alpha1-agent
  failurePolicy: Fail
  name: magent-v1alpha1.kb.io
  rules:
  - apiGroups:
    - agent.kagenti.dev
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - agents
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-toolhive-stacklok-dev-v1alpha1-mcpserver
  failurePolicy: Fail
  name: mmcpserver-v1alpha1.kb.io
  rules:
  - apiGroups:
    - toolhive.stacklok.dev
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - mcpservers
  sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-agent-kagenti-dev-v1alpha1-agent
  failurePolicy: Fail
  name: vagent-v1alpha1.kb.io
  rules:
  - apiGroups:
    - agent.kagenti.dev
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - agents
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-toolhive-stacklok-dev-v1alpha1-mcpserver
  failurePolicy: Fail
  name: vmcpserver-v1alpha1.kb.io
  rules:
  - apiGroups:
    - toolhive.stacklok.dev
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - mcpservers
  sideEffects: None
