name: Spellcheck Action
on:
  pull_request:
    branches:
      - main
      - "release-*"
  push:
    branches:
      - main

jobs:
  spellcheck:
    # disable spell check with 'false' value.
    if: false
    name: Spellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Check spelling
        uses: rojopolis/spellcheck-github-actions@0.58.0
        with:
          config_path: .github/spellcheck/.spellcheck.yml
          task_name: Markdown
